$black: #000;
$white: #fff;
$main-yellow: #FFFF00;

.navbar {
  background-color: $black;
  color: $white;

  .navbar-brand,
  .nav-link {
    color: $white;

    &:hover,
    &:active {
      color: $main-yellow;
      text-decoration: underline;
      text-underline-offset: 2%;
      text-decoration-color: $main-yellow; // Cor da linha embaixo do texto.
    }
  }

}
