$main-blue: #003478;
$main-yellow: #FFFF00;

.modal {
  display: none;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 1000;

  &.is-active {
    display: flex;
  }

  &-content {
    background: $main-blue;
    padding: 2%;
    border-radius: 10px;
    position: relative;
    color: #fff;
    width: 70%;
    max-width: 600px;
    height: auto;
    max-height: 90%;
    overflow-y: auto;
  }

  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;

    .bi {
      font-size: 24px;
      color: #fff;
    }

    &:hover {
      transform: scale(1.1);
    }
  }

  .modal-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    button {
      background-color: #001d42;
      color: #fff;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover,
      &:focus {
        background-color: $main-yellow;
        color: #000;
      }
    }
  }
}
