$main-blue: #003478;
$main-yellow: #FFFF00;

.modal {
  display: none;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 1000;

  &.is-active {
    display: flex;
  }

  &-content {
    background: $main-blue;
    padding: 2%;
    border-radius: 10px;
    position: relative;
    color: #fff;
    width: 70%; // Define a largura do modal
    max-width: 500px;
    height: auto; // Define a altura do modal como automática
    max-height: 80%;
    overflow-y: auto;
  }

  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;

    .bi {
      font-size: 24px;
      color: #fff;
    }

    &:hover {
      transform: scale(1.1);
    }
  }

  .modal-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    button {
      background-color: #001d42; // a cor de fundo do botão
      color: #fff; // a cor do texto do botão
      border: none;
      padding: 10px 20px; // espaçamento interno do botão
      border-radius: 5px; // cantos arredondados do botão
      cursor: pointer; // cursor de ponteiro ao passar o mouse
      transition: background-color 0.3s ease; // animação suave de cor de fundo

      &:hover,
      &:focus {
        background-color: $main-yellow; // cor de fundo do botão ao passar o mouse ou focar
        color: #000;
      }
    }
  }
}
